################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/CoWin.UI/bin
/CoWin.UI/obj
/CoWin.Tests/bin
/CoWin.Tests/obj
